/*Nan Zhang 18342077
*/
body {
	background-image: url("../pictures/background.png");
	font-size: 8pt;
	font-family: "Verdana", "Tahoma", serif;

}
* {
	margin: 0px;
	padding: 0px;
}
#banner {
	background-image: url('../pictures/bannerbackground.png');
	height: 50px;
	text-align: center;
	background-repeat: repeat-x;
}
h1{
	font-size: 24pt;
	font-weight: bold;
	font-family:  "Tahoma", "Verdana",serif;
	text-align: center;
	padding: 30px;
}
#body {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border:4px solid grey;
	overflow: hidden;
}
#rightboard  {
	width: 250px;
	float: right;
	margin-bottom: 0px;
	background-color: #A2B964;
	font-size: 8pt;
	font-family: "Arial",sans-serif;
}
#leftboard {
	width: 550px;
}
#rotten {
	background-image: url("../pictures/rottenbackground.png");
	height: 83px;
	vertical-align: bottom;
}
#percent{
	font-size: 48pt;
	color: red;
	font-weight: bold;
	font-family: "Verdana", "Tahoma", serif;
	vertical-align: bottom;
}
#total {
	font-size: 8pt;
	color: white;
	vertical-align: 100%;
}
#left_comment {
	margin-left: 2%;
	width: 47%;
	float: left;
	margin-top: 10px;
}
#right_comment {
	margin: 0 2%;
	width: 47%;
	float: left;
	margin-top: 10px;
}
.comment {
	font-weight: bold;
	border: 2px solid gray;
	background-color: #E1D697;
	padding: 8px;
	min-height: 30px;
}
p {
	margin: 0;
	display: block;
}
p img {
	padding-right: 5px;
	float: left;
}
.user {
	margin-top: 5px;
	padding-right: 5px;
	margin-bottom: 3em;
}
.pub {
	font-style: italic;
}
#bottom {
	float: right;
	width: 800px;
	text-align: center;
	background-color: #A2B964;
	margin: 0;
	padding: 5px;
}
dl {
	padding: 0 10px;
}
dt {
	margin-top: 1em;
	font-weight: bold;
}
dd {

	margin-left: 4em;
}
#checker {
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;
}